:root{
    --color-primary: #34C94B;
    --bgcolor-primary: #121212;
    --text-color: #ffffff;
}

.Navbar{
    background-color: var(--color-primary);
}
.NavbarButton{
    font-family: 'Poppins' !important;
    background-color: var(--bgcolor-primary);
    color: var(--color-primary);
    border-radius: 12px;
    border: 1px solid var(--bgcolor-primary);
    
}
.NavbarButton:hover{
 background-color: var(--bgcolor-primary);
 color: var(--text-color);       
}
.NavBarItems{
    display: flex;
    justify-content: space-between;
}